.netpay-section {
    .heading {
        background: url("../images/netpay-logo.png");
        background-size: 140px;
        padding-left: 20rem;
        background-repeat: no-repeat;
        height: 45px;
    }
    .button-container {
        float: right;
    }
}